# Variables d'environnement pour le backend
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=votre-email@gmail.com
SMTP_PASS=votre-mot-de-passe-application
CONTACT_EMAIL=contact@votre-agence.fr

# Variables pour le frontend
REACT_APP_API_URL=http://localhost:5000
